$white = #FFFFFFFF

.app-header
  width 100%
  display flex
  flex-direction column
  align-items center
  background url('../../../assets/background.png') center center
  background-size cover
  position relative
  padding 150px 0
  color $white
  &_title
    font-weight 400
    font-size 4em
  &_description
    text-align center
  &_list
    position absolute
    bottom -35px
    padding-bottom 5px
    width 80%
    background-color $white
    border-radius 5px
    box-shadow 0 5px 20px 5px rgba(0,0,0,.1)
    overflow-x scroll
    white-space nowrap
    li
      transition transform .3s ease-in-out
      width 80px
      height 80px
      background-color red
      margin 5px 0 0 5px
      display inline-block
      border-radius 3px
      &:last-child
        margin-right 5px

@media screen and (min-width: 992px)
  .app-header
    height 100vh
    padding 100px 0
    align-items space-around
    &_list
      bottom auto
      position relative
      overflow-x inherit
      width auto
      li:hover
        transform: translateY(-10px)
